<article class="tc post-li pa5-ns pa4 pv5 center">
    <header>
        <h3 class="f1-ns f2 fw1 mv0"><a class="k-gray nav-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p class="k-dark-gray ttu tracked fw3"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</time></p>
    </header>

    <!--
    <section class="f6 f5-ns fw3">
        <p>{{ .Summary }}</p>
    </section>
    -->

    <footer class="pt2">
        <span>
            {{ if .Site.DisqusShortname }}
            <a class="k-light f6 nav-link ttu k-gray" href="{{ .Permalink }}#comments"><i class="fa fa-2x fa-comment"></i></a>
            {{ end }}
            {{ with.Params.tags }}
              &nbsp;&nbsp;<i class="fa fa-tag"></i>
              {{ delimit  . ", " }}
            {{ end }}
        </span>
    </footer>
</article>
