<article class="post-li pa5-ns pa4 pv5 center">
    <header class="mw7 center">
        <h3 class="k-dark-gray tl f2-ns f3 fw1 mv0 lh-title pb1 ttu tracked bb b--light-gray"><a class="k-gray nav-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p class="k-dark-gray i ttu fw3 tl fl"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "January 2, 2006" }}</time></p>
        {{ if .Site.DisqusShortname }}
        <a class="fr mv3 f6 k-medium nav-link ttu" href="{{ .Permalink }}#comments"><i class="fa fa-comment mr2"></i>Comments</a>
        {{ end }}
    </header>

    <!--
    <section class="f6 f5-ns fw3">
        <p>{{ .Summary }}</p>
    </section>
    -->

    <!-- <footer class="pt2"> -->
    <!--     <span> -->
    <!--         {{ with.Params.tags }} -->
    <!--           &nbsp;&nbsp;<i class="fa fa-tag"></i> -->
    <!--           {{ delimit  . ", " }} -->
    <!--         {{ end }} -->
    <!--     </span> -->
    <!-- </footer> -->
</article>
