<article>
    <header class="pv6 k-footer-bg">
        <div class="center w-80 w-60-l w-100-m ph4-m mw9">
            <h1 class="f-headline-ns f1 lh-title fw1 k-orange mv0">{{ .Title }}</h1>
            <p class="ttu fw7 k-light-gray mt0"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2th, 2006" }}</time> - By {{ index .Params "author" }}</p>
            <div class="white f3-ns f4 fw3 lh-copy"></div>
      </div>
    </header>

    <section class="center w-80 w-60-l w-100-m ph4-m mw9">
        <div class="lh-copy f3-ns f4 fw3 pv5 md">
            {{ .Content }}
        </div>
        <hr />
    </section>

    <footer class="pv5 center w-80 w-60-l w-100-m ph4-m mw9">
        {{ partial "disqus.html" . }}

        {{ with .Params.tags }}
        <span class="f-post-tags"><i class="fa fa-tag"></i>
            {{ delimit  . ", " }}
        </span>
        {{ end }}
    </footer>
</article>
