<section class="section">

    <article class="cf center w-80 w-60-l w-100-m mw9 ph4-m">

        <div class="fl w-100 w-50-ns tl pr3-ns">
            <h2 class="k-dark db-ns dn f2 fw3 tracked-tight mt0">Manage &amp; Scale <br /> Your Infrastructure</h2>
            <h2 class="k-dark dn-ns db f2 fw3 tracked-tight mt0">Manage &amp; Scale Your Infrastructure</h2>
            <p class="lh-copy measure">
                Kumoru does the things that you'd rather not by taking away everything but writing code
                from your list of responsibilities. Whatever cloud you want to run on, Kumoru handles every
                step of the process, including:
            </p>
            <ul class="lh-copy">
                <li>VM creation and management</li>
                <li>Networking and load balancing</li>
                <li>Orchestration and scheduling</li>
                <li>Redundancy and fallback</li>
                <li>Metric-based autoscaling</li>
                <li>Application performance monitoring</li>
            </ul>
        </div>

        <div class="fl w-100 w-50-ns tl">
            <h2 class="k-dark db-ns dn f2 fw3 tracked-tight mt0-ns">Monitor &amp; Contain <br /> Your Cloud Costs</h2>
            <h2 class="k-dark dn-ns db f2 fw3 tracked-tight mt0-ns">Monitor &amp; Contain Your Cloud Costs</h2>
            <p class="lh-copy measure">
                Kumoru monitors the costs of all of the infrastructure you use to keep your applications
                running, and rolls all of those costs into one easy-to-read monthly bill across all your
                cloud providers. Kumoru can break those costs down to show you which groups of applications
                are using the most resources, giving you the insight to better plan where to spend your time
                optimizing.
            </p>
            <p class="lh-copy measure">
                When you set a budget, Kumoru will never allow your monthly bill to surpass that amount.
                It notifies you when your estimated monthly costs are approaching your limit, giving you
                time to react &mdash; by increasing your budget, optimizing your applications, or preparing
                for less performance during traffic spikes.
            </p>
        </div>

        </div>
    </article>

</section>

<section class="k-dark-green-bg mt5-ns pv5 pt0-ns" style="padding-bottom:70px;">

    <article class="cf center w-80 w-60-l w-100-m mw9 ph3-m">
        <div class="fl w-100 w-33-ns tc">
            <div class="db-ns dn icon-breakpoint--learn"></div>
            <img src="/img/easy_to_learn.svg" width="100px" class="center db dn-ns" />
            <h2 class="f2 fw3 tracked-tight white mt0">Easy to Learn</h2>
            <p class="lh-copy k-light ph3-ns ph2-m tc mb0-ns mb4">
                A simple and straightforward web-based workflow means you won't spend your first week
                having to dig through documentation. Powerful APIs and a CLI tool are there for you if
                you prefer to use the command line instead.
            </p>
        </div>
        <div class="fl w-100 w-33-ns tc">
            <div class="db-ns dn icon-breakpoint--use"></div>
            <img src="/img/easy_to_use.svg" width="100px" class="center db dn-ns" />
            <h2 class="f2 fw3 tracked-tight white mt0">Easy to Use</h2>
            <p class="lh-copy k-light ph3-ns ph2-m mb0-ns mb4">
                Stand up applications as fast as you can provide an image url and relevant metadata.
                With just a little information, you can deploy an application to our resilient and
                highly-available platform in seconds.
            </p>
        </div>
        <div class="fl w-100 w-34-ns tc">
            <div class="db-ns dn icon-breakpoint--integrate"></div>
            <img src="/img/easy_to_integrate.svg" width="100px" class="center db dn-ns" />
            <h2 class="f2 fw3 tracked-tight white mt0">Easy to Integrate</h2>
            <p class="lh-copy k-light ph3-ns ph2-m">
                Robust and easy-to-use APIs allow you to integrate Kumoru in to your CI/CD workflow
                any way you see fit. Hooks let you programmitcally deploy your application from other
                systems without having to rewire your entire process.
            </p>
        </div>
    </article>

</section>

<section class="section">

    <article class="cf center w-80 w-60-l w-100-m mw9 ph4-m">
        <div class="fl w-100 w-33-ns tc mb5 mb0-ns pr3">
            <img src="/img/docker.svg" width="150" height="100" />
            <h3 class="f3 fw3 tracked-tight k-dark">Write anything, build a Docker container.</h3>
            <p class="lh-copy k-medium ph3-ns ph2-m pb3">
                If it runs in a Docker container, it runs in Kumoru. Build software in the language
                that makes the most sense for your project. Once you have a Docker artifact, you're
                ready to go.
            </p>
            <a href="https://www.docker.com/what-docker" class="dn-ns db k-blue link fw7">New to Docker? Start here.</a>
        </div>
        <div class="fl w-100 w-33-ns tc mb5 mb0-ns pr3">
            <img src="/img/kubernetes.svg" width="140" height="100" />
            <h3 class="f3 fw3 tracked-tight k-dark">Put it on our stack, powered by the best.</h3>
            <p class="lh-copy k-medium ph3-ns ph2-m b3">
                We're built on Kubernetes, which gives you the power to leverage the latest in container
                management, scheduling, and orchestration without having to write it all yourself.
            </p>
            <a href="#" class="dn-ns db k-blue link fw7">Learn more about our architecture.</a>
        </div>
        <div class="fl w-100 w-33-ns tc mb0-ns">
            <img src="/img/aws.svg" width="80" height="100" class="pr3 pr1-m" />
            <img src="/img/google_cloud.svg" width="80" height="100" />
            <h3 class="f3 fw3 tracked-tight k-dark">Deploy it on the cloud that's best-fit for you.</h3>
            <p class="lh-copy k-medium ph3-ns ph2-m pb3">
                We currently support AWS and Google. Support for Azure, Bluemix, Digital Ocean, Rackspace,
                and more are coming soon.
            </p>
            <a href="http://docs.kumoru.io/#available-locations" class="dn-ns db k-blue link fw7">Check out our current region and provider support.</a>
        </div>
    </article>
    <article class="dn db-ns cf center w-80 w-60-l w-100-m mw9 ph4-m">
        <div class="fl w-100 w-33-ns tc ph3-l mb5 mb0-ns">
            <a href="https://www.docker.com/what-docker" class="k-blue link fw7">New to Docker? Start here.</a>
        </div>
        <div class="fl w-100 w-33-ns tc ph3 mb5 mb0-ns">
            <a href="#" class="k-blue link fw7">Learn more about our architecture.</a>
        </div>
        <div class="fl w-100 w-33-ns tc ph3 mb0">
            <a href="http://docs.kumoru.io/#available-locations" class="k-blue link fw7">Check out our current region and provider support.</a>
        </div>
    </article>

</section>

<section class="section k-xlight-bg">
    <article class="cf center w-80 w-60-l w-100-m mw9 ph4-m">
        <h2 class="f2 fw3 tracked-tight tc mt0" >Ready to get started?</h2>
        <div class="mb4">
            <p class="mb0 f4 fw3 tc">
                We're confident that you'll love being able to get back to writing great applications.
            </p>
            <p class="mt0-ns f4 fw3 tc">
                <em>Let us show you how easy (not) managing infrastructure can be.</em>
            </p>
        </div>
        <div class="tc">
            <a href="https://alpha.kumoru.io" class="f5-ns f6 fw6 no-underline">
                <button class="k-button k-orange-bg dim white">
                    <i class="fa fa-plus white mr2"></i>
                    <span class="white ttu tracked-tight">Deploy your application today</span>
                </button>
            </a>
        </div>
    </article>
</section>

