<section class="section">
    <article class="cf center w-60-l mw-60-l w-80 mw-80">
        <div class="fl w-100 w-50-ns tc ph4-ns ph2-m pb4 pb0-ns">
            <h3 class="f3 fw3 tracked-tight black mt0">Still not convinced?</h3>
            <p class="f4 fw3 lh-copy tracked-tight k-dark-gray ph3-ns">
                We'd love to be the platform that helps you stop worrying about infrastructure and
                learn to love your job. Get in touch with us and we'll answer any questions you have.
            </p>
            <div class="tc fl-ns w-33-ns w-100-m w-100 pv3 pv0-l">
                <a class="link f6 underline tracked-tight k-blue" href="https://twitter.com/kumoru_io">
                    <i class="fa fa-2x fa-twitter black"></i>
                    <div class="pt2">@kumoru_io</div>
                </a>
            </div>
            <div class="tc fl-ns w-33-ns w-100-m w-100 pv3 pv0-l">
                <a class="link f6 underline k-blue" href="mailto:support@kumoru.io">
                    <i class="fa fa-2x fa-send black"></i>
                    <div class="pt2">support@kumoru.io</div>
                </a>
            </div>
            <div class="tc fl-ns w-33-ns w-100-m w-100 pv3 pv0-l">
                <a class="link f6 underline k-blue" href="https://github.com/kumoru">
                    <i class="fa fa-2x fa-github black"></i>
                    <div class="pt2">github.com/kumoru</div>
                </a>
            </div>
        </div>
        <div class="fl w-100 w-50-ns tc ph4-ns ph2-m">
            <h3 class="f3 fw3 tracked-tight black mt0">Want to stay in touch?</h3>
            <p class="f4 fw3 lh-copy tracked-tight k-dark-gray ph3-ns pb3">
                Give us your email address and we'll keep you posted with all the latest Kumoru news.
                We'll keep it to product updates and announcements, we promise.
            </p>
            {{ partial "mailchimp.html" . }}
        </div>
    </article>
</section>
