<section class="hero pv6-ns pv5">
    <div class="w-75 center tl white mt0-ns mt6">
        <h1 class="f1-ns f2 tc tl-ns tracked-tight fw1 mt0 mb0">Your job is <em class="k-orange">creating</em> great applications.</h1>
        <h1 class="f1-ns f2 tc tl-ns tracked-tight fw1 mt0">Let us worry about running them.</h1>
        <p class="f3-ns f4 tc tl-ns fw3 measure mb5">
            Kumoru takes your application, puts it on great infrastructure, scales it, and keeps an
            eye on the performance of it. It takes care of the logistics and lets you get back to
            doing the job you actually want to be doing <span class="k-orange">- writing awesome software.</span>
        </p>
        <div class="tc tl-ns">
            <a href="https://alpha.kumoru.io" class="f5-ns f6 fw6 no-underline">
                <button class="k-button k-orange-bg dim white">
                    <i class="fa fa-plus white mr2"></i>
                    <span class="white ttu tracked-tight">Deploy your application today</span>
                </button>
            </a>
        </div>
    </div>
</section>
