<div class="w-100 k-gray-bg fixed top-0 left-0" style="z-index:9999;">
    <nav class="db dt-ns w-75 center border-box pv3">
        <div class="db dtc-ns v-mid tc tl-ns">
            <a class="db dib-ns nav-link v-mid k-light-gray tc tl-ns mb2 mb0-ns pr5-ns" href="#" title="Home">
                <img src="/img/logo.svg" class="w2 h2" alt="Kumoru">
                <span class="dn dib-ns f3 fw3 white v-top nowrap">kumoru</span>
            </a>
            <a class="nav-link k-light-gray f6 f5-ns dib ttl fw6 mb0-ns mb2" href="http://docs.kumoru.io" title="Home">Documentation</a>
        </div>
        <div class="db dtc-ns v-mid tc tr-ns">
            <a class="nav-link k-light-gray f6 f5-ns dib mr3 mr4-ns ttu fw6" href="https://alpha.kumoru.io/signup" title="Sign Up">Sign Up</a>
            <a class="nav-link k-light-gray f6 f5-ns dib ttu fw6" href="https://alpha.kumoru.io/login" title="Login">Login</a>
        </div>
    </nav>
</div>
