<title>Kumoru - Blog</title>
{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<article class="site-container">

  <header class="pv6 k-footer-bg">
    <div class="center w-80 w-60-l w-100-m ph4-m mw9">
      <div class="mb5">
        <h1 class="f-headline-ns f1 lh-title fw1 k-orange mv0">Welcome to Kumoru.</h1>
        <p class="ttu fw7 k-light-gray mt0">June 7th, 2016 - By Patrick Deuley</p>
      </div>

      <p class="white f3-ns f4 fw3 lh-copy">Hey, thanks for checking us out. We've worked really hard on this, and we're thrilled to finally be sharing it with the world at large.</p>
      <p class="white f3-ns f4 fw3 lh-copy">When we started this project, we envisioned a world where it was easier for developers to get their applications up and running without having to mess around with infrastructure. We had big ideas about what that could mean, and we weren't sure where it would lead, but to this day, our end-goal hasn't changed: create a platform that enables the infrastructure-less future.</p>
    </div>
  </header>


  <section class="pv5 center w-80 w-60-l w-100-m ph4-m mw9">
    <h3 class="f1-ns f2 k-dark-green">What is Kumoru?</h3>

    <p class="f3-ns f4 fw3 lh-copy">Kumoru is an application management platform. It takes applications you write and gets them up on the Internet with no input required from you once it's been set up. After your application is in our system, we monitor its performance for you (based on metrics you tell us to watch), and scale it to meet the demands of its load. We'll scale up when you get a traffic spike, and then scale it back down when it dies back down. This keeps your costs low, and mental overhead at zero.</p>

    <p class="f3-ns f4 fw3 lh-copy">Our hope is that at the end of the day, you can stop thinking about your applications the moment you deploy them. Focus on fixing bugs, adding features, and generally making things more awesome. Stop worrying about the performance of your infrastructure or if it will scale properly in the future. Let us take care of that for you.</p>

    <h3 class="f1-ns f2 k-dark-green">Let's get started:</h3>

    <p class="f3-ns f4 fw3 lh-copy">Kumoru requires a very basic understanding of docker. All you need to know is how to take your application and create a docker artifact. If you're new to Docker, we highly recommend the “Demystifying Docker” series, which covers artifact creation here:</p>

    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/pGYAg7TMmp0" frameborder="0" allowfullscreen></iframe>
    </div>

    <p class="f3-ns f4 fw3 lh-copy">Once you have a docker artifact, you can drop it in to Kumoru and get your application up on the web. To learn how, watch this:</p>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/s3Io7-Y5wvA" frameborder="0" allowfullscreen></iframe>
    </div>

    <p class="f3-ns f4 fw3 lh-copy">To learn more, check out our docs <a class="k-blue link" href="http://docs.kumoru.io">here.</a></p>

    <p class="f3-ns f4 fw3 lh-copy">Or if you have any questions, feel free to reach out in the comments below, on Twitter <a class="k-blue link" href="https://twitter.com/kumoru_io">@kumoru_io</a> or via email at <a class="k-blue link" href="mailto:support@kumoru.io">support@kumoru.io</a></p>

    <p class="f3-ns f4 fw3 lh-copy mb0">Thanks for reading!</p>

  </section>

  <div class="w-80 w-100-m ph4-m w-60-l mw9 center"><hr /></div>

  <footer class="pv5 center w-80 w-60-l w-100-m ph4-m mw9">
    {{ partial "disqus.html" . }}
  </footer>

</article>

{{ partial "footer.html" . }}

